[Unit]
Description=gunicorn daemon for dksharma
After=network.target

[Service]
User=ec2-user
Group=nginx
WorkingDirectory=/home/ec2-user/dksharma
ExecStart=/home/ec2-user/dksharma/venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn_dksharma.sock \
          dksharma.wsgi:application

[Install]
WantedBy=multi-user.target